* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid;
  background-color: white;
}

main {
  padding-top: 72px;
}

section, footer {
  padding: .75rem 1.25rem 2rem;
}

section {
  height: 100vh;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.link-001 {
padding: .5rem 1rem;
  border: none; 
  cursor: pointer; 
}

.section-img {
  width: 50%;
}

.section-text {
  width: 50%;
}